# Exclude Environment and Config files
.idea
venv
*.env
.run
DomePortfolio/settings/keys.py
DomePortfolio/settings/prod_admin.py

# Exclude compiled files and caches
__pycache__
*.pyc
.pytest_cache
.coverage

# Exclude build files
*.spec
build
dist
*.egg-info
*.css.map
.terraform/.terraform
.terraform/terraform.plan
*.tfstate
*.tfstate.lock.info
*.tfstate.backup

# Exclude authentication information
keys
*.tfvars

# Exclude Database
*.sqlite3
