# Exclude Environment and Config files
.idea
venv
*.env
.run
DomePortfolio/settings/keys.py

# Exclude compiled files and caches
__pycache__
*.pyc
.pytest_cache
.coverage

# Exclude build files
*.spec
build
dist
*.egg-info
*.css.map

# Exclude authentication information
keys

# Exclude Database
*.sqlite3
