div[id^=admin-image-preview-widget] {
    display: flex;
    flex-direction: column;
    width: 25%;

    & > button {
        border-radius: .25rem;
        font-weight: 700;
        padding: .5rem 1rem;
        color: white;
        background: #4299e1;
        margin-top: .25rem;
        border-width: 0;

        &:hover {
            background: #1483e2;
            cursor: pointer;
        }
    }

    & > img {
        width: 100%;
    }
}
